name: Deploy WordPress to EC2

on:
  push:
    branches:
      - main
      - master

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup SSH key (Windows Compatible)
        shell: powershell
        run: |
          $sshDir = "$env:USERPROFILE\.ssh"
          if (!(Test-Path $sshDir)) {
            New-Item -It
