name: Deploy WordPress to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Install rsync & ssh
        run: |
          sudo apt-get update
          sudo apt-get install -y rsync openssh-client

      - name: Setup SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.EC2_SSH_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa

          echo "Adding EC2 host to known_hosts"
          ssh-keyscan -p 2222 ${{ secrets.EC2_IP }} >> ~/.ssh/known_hosts

      - name: Deploy via rsync
        run: |
          echo "Starting deployment..."
          rsync -avz --delete \
            -e "ssh -i ~/.ssh/id_rsa -p 2222 -o StrictHostKeyChecking=no" \
            --exclude='.git/' \
            --exclude='.github/' \
            --exclude='wp-content/uploads/' \
            ./ ubuntu@${{ secrets.EC2_IP }}:/var/www/html/exemplifi-wp/

      - name: Restart Apache
        run: |
          ssh -i ~/.ssh/id_rsa -p 2222 -o StrictHostKeyChecking=no \
            ubuntu@${{ secrets.EC2_IP }} "sudo systemctl restart apache2"
